<%- contentFor('css_body') %> <%- contentFor('body') %>
<div class="breadcrumb">
  <div class="page-title"><%= title %></div>
  <a href="/store/add-category" class="btn-full"
    ><i class="bx bx-book-add"></i> New</a
  >
</div>
